* {
    box-sizing: border-box;
}

body, html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.TopPromotionalBanner_container__E5VBY {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.TopPromotionalBanner_imageContainer__ve9pa {
    width: 100%;
    position: relative;
}

.VideoPlayer_video__XuHrO {
    max-width: 100%;
    height: auto;
}

.Responsive_desktopFlex__NTkYs, .Responsive_desktop__Ml_fS, .Responsive_mobileAndTabletFlex__zGDeP, .Responsive_mobileAndTablet__wrqT3, .Responsive_mobileFlex__a7kZI, .Responsive_mobile__hAoxJ, .Responsive_tabletAndDesktopFlex__iWzlb, .Responsive_tabletAndDesktop__XQwXh, .Responsive_tabletFlex__E0sdi, .Responsive_tablet__N7c9m, tbody.Responsive_desktop__Ml_fS, tbody.Responsive_mobileAndTablet__wrqT3, tbody.Responsive_mobile__hAoxJ, tbody.Responsive_tabletAndDesktop__XQwXh, tbody.Responsive_tablet__N7c9m {
    display: none!important;
}

@media (min-width: 0px) and (max-width: 1023px) {
    .Responsive_mobileAndTablet__wrqT3 {
        display: block!important;
    }
}

@media (min-width: 1024px) {
    .Responsive_desktop__Ml_fS {
        display: block!important;
    }
}

.HeaderSectionV1_container__QXvxl {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 25px;
    background-color: #000;
    padding: 10px 7px;
    text-align: center;
    color: #fff;
}

.TopTaglineV2_container__50mEE {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.TaglineV1_container__cWHMO {
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    color: #142b4c
}

.TaglineV1_container__cWHMO p {
    margin: 5px 0 2px
}

.TaglineV1_container__cWHMO strong {
    font-size: 17px
}

@media(min-width: 768px) {
    .TaglineV1_container__cWHMO {
        font-size:20px;
    }
}

.ReviewsCounterV1_container__u_MGM {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: gray;
    gap: 5px
}

.ProductCheckoutPageV3_mainBodyContainer__YWXQe {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto
}

.ProductCheckoutPageV3_mediaCardTaglineReviewsCounterTopTaglineContainer__M1TwR {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 20px 0
}

@media(min-width: 768px) {
    .ProductCheckoutPageV3_mainBodyContainer__YWXQe {
        padding:0 40px
    }
}

.FooterBadgesV1_container__ReXzr {
    width: 100%;
    background-color: #f2f2f2
}

.FooterBadgesV1_badgesContainer__acymj {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto
}

.FooterBadgesV1_badgesContainer__acymj>* {
    flex: 1 0 30%
}

@media(min-width: 768px) {
    .FooterBadgesV1_container__ReXzr {
        width:100%;
        background-color: #f2f2f2
    }

    .FooterBadgesV1_badgesContainer__acymj {
        padding: 40px;
        flex-direction: row
    }
}

.FooterBadgeV1_container__8yYVJ {
    display: flex;
    gap: 20px
}

.FooterBadgeV1_textContainer__u7qa6 {
    display: flex;
    flex-direction: column;
    gap: 7px
}

.FooterBadgeV1_headingText__Cks5t {
    font-weight: 700;
    font-size: 16px
}

.FooterBadgeV1_divider__054lf {
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 7px 0
}

.FooterBadgeV1_bodyText__VUZls {
    font-size: 13px
}

.FooterBadgeV1_badgeIconContainer__c54VI {
    position: relative;
    width: 50px;
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px
}

@media(min-width: 768px) {
    .FooterBadgeV1_badgeIconContainer__c54VI {
        width:75px;
        height: 75px;
        min-width: 75px;
        max-width: 75px;
        min-height: 75px
    }
}

@media(min-width: 1024px) {
    .FooterBadgeV1_badgeIconContainer__c54VI {
        width:100px;
        height: 100px;
        min-width: 100px;
        max-width: 100px;
        min-height: 100px
    }
}

.FooterProductV1_container__xUcgd {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 40px 10%;
    background-color: #fff;
    border-top: 1px solid #d7d7d7;
    color: #777;
    font-size: 13px;
    text-align: center;
}

.FooterProductV1_buttonsContainer__xzPgX {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FooterProductV1_buttonsContainer__xzPgX a {
    text-decoration: none;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
}

#gifts { max-width: 800px; margin: 4rem auto; }
#gifts h2, #gifts h3 { text-align: center; }

img { width: 100%; height: auto; }

.gift-options { transition: .6s; max-height: 300px; }

.columns { display: flex; gap: 2rem; align-items: center; justify-content: space-between; }

.gift-box { position: relative; max-width: 200px; margin: 0; opacity: 0; animation: bounceIn 1s forwards; cursor: pointer; }
.gift-box::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/gift-shine.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
	animation: shine 5s infinite;
}
.gift-box::after {
	content: '';
	position: absolute;
	border-radius: 50%;
	animation: glow 10s infinite;
	left: 50%;
    top: 50%;
    z-index: -1;
}

.gift-box img { animation: headShake 2s infinite; animation-delay: 3.3s; }

.column:nth-child(2) .gift-box { animation-delay: .2s; }
.column:nth-child(3) .gift-box { animation-delay: .4s; }
.column:nth-child(4) .gift-box { animation-delay: .6s; }

.column:nth-child(3) .gift-box img { animation-delay: 5.4s; }
.column:nth-child(4) .gift-box img { animation-delay: 6.1s; }
.column:nth-child(2) .gift-box img { animation-delay: 7.7s; }

.animate__bounce { opacity: 1; animation: bounce 1s forwards; animation-delay: 0s !important; }

.hide-options { display: none; }
.show-prize { display: block !important; }

.box-top, .prize, .box-bottom { display: block; margin-left: auto; margin-right: auto; }
.box-top { max-width: 160px; animation: pulseIn 1s ease forwards; animation-delay: .5s; opacity: 0; }
.prize { position: relative; z-index: 2; max-width: 500px; margin-top: -80px; animation: pulseIn 1s ease forwards; animation-delay: .25s; opacity: 0; }
.box-bottom { max-width: 160px; margin-top: -80px; animation: pulseIn 1s ease forwards; transform-origin: bottom; opacity: 0; }

.gift-open {
    display: none;
    text-align: center;
    width: fit-content;
    margin: 1.5em auto 0 auto;
    background: white;
    padding: 1em 3em;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000021;
    border: 1px solid #d5d5d5;
}
.gift-open h2 { color: limegreen; font-size: 2em; animation: pulse .5s infinite; margin: 1rem 0 0.5rem; }
.gift-open h3 {	margin: 0 0 1rem; }

.btn-a { display: block; animation: pulse 1s infinite; }

strike { color: darkgray; }

.valued-discount { font-size: 1.6em; }
.valued-discount span { color: limegreen; }

@media (max-width: 599px) {
	.gift-open { padding: 1em; }
	.gift-open h2 { font-size: 1.5em; }
}

/* Animations */
@keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}

	to {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes headShake {
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}

	6.5% {
	-webkit-transform: translateX(-6px) rotateY(-9deg);
	transform: translateX(-6px) rotateY(-9deg);
	}

	18.5% {
	-webkit-transform: translateX(5px) rotateY(7deg);
	transform: translateX(5px) rotateY(7deg);
	}

	31.5% {
	-webkit-transform: translateX(-3px) rotateY(-5deg);
	transform: translateX(-3px) rotateY(-5deg);
	}

	43.5% {
	-webkit-transform: translateX(2px) rotateY(3deg);
	transform: translateX(2px) rotateY(3deg);
	}

	50% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}

@keyframes bounce {
	from,
	20%,
	53%,
	to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
	-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	-webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
	transform: translate3d(0, -30px, 0) scaleY(1.1);
	}

	70% {
	-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	-webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
	transform: translate3d(0, -15px, 0) scaleY(1.05);
	}

	80% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
	transform: translate3d(0, 0, 0) scaleY(0.95);
	}

	90% {
	-webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
	transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
}

@keyframes pulseIn {
	from {
	opacity: 0;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}

	50% {
	opacity: 1;
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}

	50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

@keyframes shine {
	0% {
		scale: 1;
		rotate: 0deg;
	}
	50% {
		scale: 1.6;
		rotate: 180deg;
	}
	100% {
		scale: 1;
		rotate: 180deg;
	}
}

@keyframes glow {
	0% { box-shadow: 0 0 60px 50px yellow; }
	40% { box-shadow: 0 0 60px 50px blue; }
	60% { box-shadow: 0 0 60px 50px green; }
	80% { box-shadow: 0 0 60px 50px red; }
	100% { box-shadow: 0 0 60px 50px yellow; }
}